:root {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;

  --font-family: 'Archivo', sans-serif;
  --h1: 800 2.4rem/1.35 var(--font-family);
  --h2: 800 1.6rem/1.4 var(--font-family);
  --h3: 800 1.4rem/1.4 var(--font-family);
  --text-span: 600 1.4rem/1.45 var(--font-family);
  --text: 400 1.6rem/1.4 var(--font-family);
  --text-sm: 400 1.4rem/1.6 var(--font-family);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-primary);
  font: var(--text);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--brand-color-light);
  }
}

h1, h2, h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

main {
  margin-block: 4rem;
  row-gap: 8rem;
  column-gap: 3.2rem;

  grid-template-columns: 2fr 1.4fr;
  grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ai aside";
}

.container {
  max-width: 1280px;
  padding-inline: 3.2rem;
  margin-inline: auto;
}

.card {
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &::before {
    content: "";
    inset: 0;
    top: 50%;
    position: absolute;
    background: linear-gradient(
      180deg, transparent 0%, #020617 100%
    );
  }

  figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.4rem;

    &:has(.text-lg) {
      padding: 1.2rem;
    }

    h2 {
      margin-top: .8rem;
    }
  }
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: 500 1rem/1.2 var(--font-family);
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  text-transform: uppercase;
  box-shadow: 0px 4px 16px hsla(229, 84%, 5%, 0.251);
}